:root {
    --text-color: #000;
    --text-color1: #0007;
    --border-r: 4px;
    --blur: blur(10px);
    --bg: #fff9;
    --border-c: #fff;
    --border: 1px solid var(--border-c);
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#bar {
    display: flex;
    flex-direction: row;
    height: 24px;
    align-items: center;
    justify-content: space-between;
    -webkit-app-region: drag;
    background-color: var(--bg);
    backdrop-filter: var(--blur);
}

#system {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-app-region: no-drag;
}
#system > div {
    position: relative;
    width: 16px;
    height: 16px;
}
#system > div > .icon {
    width: 16px;
    height: 16px;
}

#buttons {
    display: flex;
    flex-direction: row;
    -webkit-app-region: no-drag;
}
#buttons > div {
    position: relative;
    width: 16px;
    height: 16px;
}
#buttons > div > .icon {
    width: 16px;
    height: 16px;
}

#menu {
    position: fixed;
    background-color: var(--bg);
    backdrop-filter: var(--blur);
    border-radius: var(--border-r);
    border: var(--border);
    margin: 0;
}

#site_about {
    position: fixed;
    background-color: var(--bg);
    backdrop-filter: var(--blur);
    border-radius: var(--border-r);
    border: var(--border);
    margin: 0;
    left: 0;
    top: 24px;
}

#site_about > #permission > div {
    display: flex;
}

#status_bar {
    background-color: var(--bg);
    backdrop-filter: var(--blur);
    border-radius: var(--border-r);
}
